.main-header {
  width: 100%;
  height: 50px;
  background-color: white;
  position: fixed;
  display: flex;
  z-index: 20;
  margin-top: -10px;
}
#nav-links-header {
  height: 50px;
  width: 800px;
  display: flex;
  position: relative;
  left: 250px;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  font-family: "Open Sans Condensed", sans-serif;
}
#knowledge {
  position: relative;
  right: 240px;
  text-decoration: none;
  color: #6b705c;
}
#about {
  position: relative;
  right: 100px;
  text-decoration: none;
  color: #6b705c;
}
#port {
  position: relative;
  left: 70px;
  text-decoration: none;
  color: #6b705c;
}
#cont {
  position: relative;
  left: 240px;
  text-decoration: none;
  color: #6b705c;
}
#header-image {
  height: 45px;
  width: 45px;
}
.main-image {
  display: flex;
  align-content: center;
  height: 775px;
}

#mountains-image {
  width: 1350px;
  height: 700px;
  display: flex;
  position: relative;
  left: 35px;
  top: 35px;
}

#name-box {
  background-color: white;
  height: 250px;
  width: 250px;
  display: flex;
  position: relative;
  right: 760px;
  top: 250px;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 25px;
  text-align: center;
}
.info-section {
  height: 800px;
  width: 1400px;
  position: relative;
  left: 12px;
}
#quote-div {
  height: 50px;
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  position: relative;
  left: 300px;
  font-size: 30px;
  font-weight: 50px;
  color: #181f1c;
  font-family: "Open Sans Condensed", sans-serif;
}
.quotemark {
  color: #bfd7b5;
  font-size: 110px;
}
#left-quote {
  position: relative;
  bottom: 50px;
  left: 5px;
  font-family: "Island Moments", cursive;
  transform: rotate(180deg);
}
#right-quote {
  position: relative;
  bottom: 70px;
  right: 15px;
  font-family: "Island Moments", cursive;
}
.knowledge-part {
  height: 600px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50px;
  left: 100px;
}
.sections-headings {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  display: flex;
  color: #6b705c;
  text-decoration: underline;
}

.icons {
  font-size: 80px;
  color: #cb997e;
}
.icons:hover {
  transform: scale(1.3);
}

#langs {
  height: 100px;
  width: 1200px;
  display: flex;
  justify-content: space-evenly;
  z-index: 5;
}
#projects {
  height: 350px;
  width: 1200px;
  position: relative;
  top: 50px;
  display: flex;
  justify-content: space-between;
}

.about-me {
  height: 800px;
  width: 1400px;
  background-color: #b7b7a4;
  position: relative;
  left: 12px;
}
#about-me {
  height: 600px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50px;
  left: 100px;
}
#blurb {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
  color: #181f1c;
  height: 400px;
  width: 700px;
  position: relative;
  left: 75px;
}
#image-container {
  height: 300px;
  width: 300px;
  background-color: white;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 950px;
  bottom: 440px;
}
#image-of-me {
  height: 250px;
  width: 250px;
}
#signature {
  position: relative;
  left: 100px;
  bottom: 100px;
  font-family: "Licorice", cursive;
  font-size: 50px;
}
.email-section {
  width: 1400px;
  height: 200px;
  background-color: #ddbea9;
  position: relative;
  bottom: 350px;
  text-align: center;
}
#email-header {
  color: white;
  font-size: 60px;
  font-family: "Licorice", cursive;
  text-decoration: underline;
}
#email-btn {
  background-color: white;
  color: #60712f;
  width: 300px;
  height: 50px;
  position: relative;
  bottom: 40px;
  border-radius: 10px;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 30px;
}
#email-btn:hover {
  cursor: pointer;
  background-color: #6b705c;
  color: white;
}

.port-images {
  height: 200px;
  width: 250px;
  display: flex;
  position: relative;
  right: 60px;
}
.port-images:hover {
  cursor: pointer;
  transform: scale(1.1);
}
#portfolio {
  background-color: #b7b7a4;
  width: 1400px;
  height: 500px;
  display: flex;
  position: relative;
  left: 12px;
}
#portfolio-section {
  height: 400px;
  width: 1200px;
  background-color: antiquewhite;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 50px;
  left: 100px;
}
#img1 {
  position: relative;
  top: 70px;
}
#img2 {
  position: relative;
  top: 150px;
}
#img3 {
  position: relative;
  top: 70px;
}
#img4 {
  position: relative;
  top: 150px;
}
.contact-section {
  background-color: #94a187;
  width: 1400px;
  height: 300px;
  display: flex;
  position: relative;
  left: 12px;
}
#delaware-img {
  height: 300px;
  width: 400px;
  position: relative;
  left: 400px;
  bottom: 50px;
}
#contact-me {
  height: 400px;
  width: 1200px;
  display: flex;
  position: relative;
  top: 50px;
  left: 100px;
}
.contact-me-btns {
  height: 50px;
  width: 200px;
  display: flex;
  position: relative;
  top: 100px;
  right: 100px;
  justify-content: space-evenly;
}
.contact-icons {
  font-size: 60px;
  position: relative;
  left: 50px;
}
.contact-icons:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.additional-info {
  background-color: #cb997e;
  width: 1400px;
  height: 400px;
  display: flex;
  position: relative;
  left: 12px;
}
#add-info-section {
  height: 200px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 10px;
  left: 100px;
}
.projects-btns {
  height: 100px;
  width: 1200px;
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 50px;
}
.project1-btns {
  background-color: #6b705c;
  color: white;
  height: 50px;
  width: 100px;
  border-radius: 20px;
  font-family: "Open Sans Condensed", sans-serif;
}
.project1-btns:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #cb997e;
}
.project2-btns {
  background-color: #6b705c;
  color: white;
  height: 50px;
  width: 100px;
  border-radius: 20px;
  font-family: "Open Sans Condensed", sans-serif;
}
.project2-btns:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #cb997e;
}
.project3-btns {
  background-color: #6b705c;
  color: white;
  height: 50px;
  width: 100px;
  border-radius: 20px;
  font-family: "Open Sans Condensed", sans-serif;
}
.project3-btns:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #cb997e;
}
#p1-code {
  position: relative;
  right: 10px;
}
#p2-code {
  position: relative;
  right: 10px;
}
#p3-code {
  position: relative;
  right: 10px;
}
